*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Arial',sans-serif;
  background-color:  #eff4fd;
}
.container{
  width: 90%;
  margin: auto;
}
.section-heading{
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  color: black;
}
.section-cards{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section-card{
  width: 350px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  cursor: pointer;

}
.section-card i{
  font-size: 38px;
  margin-bottom: 20px;
  color: #3498db;
}
.section-card h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.section-card p{
  font-size: 15px;
  color: #666;
  line-height: 1.5;
}
.container a{
  background-color: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin-top: 40px;
  margin-left: 1170px;
  border-radius: 5px;
}
.colimg{
  height: 240px;
  width:320px;
  align-items: center;
}