*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' sans-serif;
    box-sizing: border-box;
    background-color: #eff4fd;
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color:  #eff4fd;
}
.about img{
    height: 450px;
    width: 380px;
    margin-top: 45px;
}
.about img{
    border: 3px solid orange;
    box-shadow: 0 0 10px orange,
                0 0 25px orange;
    height: 450;
    width:380px;
    border-radius: 3em;
    transition: 0.5s ease;
}
.about-text
{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: orange;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 40px;
}
.about-text p{
    color:black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 48px;
}
.about-text a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}